{% extends "base.twig" %}

{% block content %}
    <div class="section1">
        <h1 class="grand-titre">THE VIE</h1>
        <p class="sous-titre">Bienvenue sur le site de la tournée BĒYĀH.</p>

        <img src="images/beyah.jpg" alt="Damso Beyah" class="beyah-grand">

        <div class="mt-50">
            <a href="album.php" class="bt-album">ÉCOUTER L'ALBUM</a>
        </div>
    </div>

    <h2>L'Artiste</h2>
    <div class="bio">
        <p><strong>William Kalubi Mwamba</strong>, dit Damso, est un rappeur et auteur-compositeur-interprète
            belgo-congolais.</p>
        <p>Après une carrière jalonnée de succès (Batterie Faible, Ipséité, Lithopédion, QALF), il revient fin 2025
            pour clore un chapitre avec BĒYĀH.</p>

        <blockquote class="citation">
            "La vie ne ment pas, les gens si."
        </blockquote>
    </div>

    <h2>Nombre d'écoutes</h2>
    <div class="stats">
        <div class="stat">
            <h3>6 millions</h3>
            <p>écoutes sur Spotify mensuel</p>
        </div>
        <div class="stat">
            <h3>+500 millions</h3>
            <p>vues sur YouTube</p>
        </div>
        <div class="stat">
            <h3>5 millions</h3>
            <p>followers sur Instagram</p>
        </div>
    </div>

    <h2>Galerie photos</h2>

    <section class="gallerie">

    <img src="images/damso1.jpg" alt="damso" class="gallerie-image">
    <img src="images/damso2.jpg" alt="damso" class="gallerie-image">
    <img src="images/damso3.jpg" alt="damso" class="gallerie-image">
    <img src="images/damso4.jpg" alt="damso" class="gallerie-image">
    <img src="images/damso5.webp" alt="damso" class="gallerie-image">
    <img src="images/damso6.webp" alt="damso" class="gallerie-image">

    </section>

{% endblock %}